<log4net>
  <logger name="InsertSensorRequestsLogger" additivity="false">
    <level value="ALL" />
    <appender-ref ref="InsertSensorRequestsLoggerAppender" />
  </logger>
  <logger name="DescribeSensorRequestsLogger" additivity="false">
    <level value="ALL" />
    <appender-ref ref="DescribeSensorRequestsLoggerAppender" />
  </logger>
	<root>
		<level value="ALL" />
	</root>
	<appender name="InsertSensorRequestsLoggerAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs\\InsertSensorRequests.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="500" />
		<maximumFileSize value="3MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="-------------------------------------------------------------%newline %date [%thread] %level %logger - %newline %message%newline" />
		</layout>
	</appender>
  <appender name="DescribeSensorRequestsLoggerAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs\\DescribeSensorRequests.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="500" />
    <maximumFileSize value="3MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="-------------------------------------------------------------%newline %date [%thread] %level %logger - %newline %message%newline" />
    </layout>
  </appender>
</log4net>